/* You might need to place this at the end of your CSS file to ensure proper cascading */
/* Replace these values with your desired styles */
/* Styles the thumb */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
}

/* Styles the track */
::-webkit-scrollbar-track {
  background-color: #13151741;
}

/* Styles the corner */
::-webkit-scrollbar-corner {
  background-color: #131517;
}

/* Styles the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

/* Hide scrollbar track in Firefox */
/* You might need to use custom Webkit styles for Firefox */
/* This is a basic example, you can customize these values as per your design */
.scrollbar-width-auto {
  scrollbar-width: auto;
  scrollbar-color: #4c51bf #131517;
}

